{% extends "auctions/layout.html" %}
{% block body %}
<div class="container">
    <h2>Create listing</h2>

</div>
<div class="container">
    <form action="{% url 'submit' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="title" required>
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="description" required></textarea>
        </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Category</label>
            <select class="form-control" id="exampleFormControlSelect1" name="category" required>
              <option>Leather</option>
              <option>Beauties</option>
              <option>Toys</option>
              <option>Electronics</option>
              <option>Books</option>
              <option>Others</option>
            </select>
          </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Initial Bid</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" name="price" required>
          </div>
        
          <div class="form-group">
            <label for="exampleFormControlInput1">Image link (optional)</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="link">
          </div>

        <button class="btn btn-outline-info" type="submit">Submit</button>

      </form>
</div>
{% endblock %}